.me{
  background-color: #54BAB9;
  color: #472D2D;
  text-align: center;
  padding: 200px;

  border-width: 6px;
  border-style: dashed;
}
h1{
  margin: 0;

}

body
{
  margin: 0;
}
p{
  margin: 0;

}
